body {
    /* overflow-y: auto; */
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 8.3vh;
    /* position: fixed; */
    top: 0px;
    /* background-color: rgba(16, 16, 16, 0.7); */
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 90vh;
}


/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    /* position: fixed; */
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0px!important;
    height: 9.5vh;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.logonav {
    font-size: 150%;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.hdr {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.pushbelow {
    height: 8.7vh;
}

.scrl {
    overflow-y: auto;
    height: 81.5vh;
    /* background-color: green; */
}

li.active a {
    border-radius: 0 0 5px 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.sidebar-nav {
    position: relative;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 40px;
    display: inline-block;
    width: 75%;

}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    z-index: -1;
    height: 100%;
    width: 2px;
    background-color: #1a1a1a;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: black;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li.open a:hover{
    color: #fff;
    background-color: transparent;
}